# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Images
*.{png,jpg,jpeg,gif,webp,avif,svg} binary

# Fonts
*.{ttf,eot,woff,woff2} binary

# For diff highlighting
*.js diff=javascript
*.jsx diff=javascript
*.ts diff=typescript
*.tsx diff=typescript
*.svelte diff=javascript
*.css diff=css
*.html diff=html