/*
* variables used for newspaper styles
*/

:root {
    --np-bg: #f8f8f8;
    --np-text: #0a0a0a;
    --np-shadow: 1px 1px 1px rgba(0.5, 0.5, 0.5, 0.5);
    --np-overlay: url('/images/paper.avif');
    --np-blend-mode: multiply;
    --np-filter: grayscale(100%) contrast(100%) brightness(100%);
    --np-font: 'IM Fell English', serif;
    --np-opacity: 0.90;
    --text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.newspaper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
    background: var(--np-bg);
}

.newspaper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    min-height: 80vh;
    padding: 2rem;
    box-shadow: var(--np-shadow);
    color: var(--np-text);
    position: relative;
    overflow: hidden;
    background: var(--np-overlay) repeat center center;
    background-size: cover;
    background-blend-mode: var(--np-blend-mode);
    filter: var(--np-filter);
}

.newspaper * {
    text-shadow: var(--text-shadow);
    mix-blend-mode: multiply;
    opacity: var(--np-opacity);
    font-family: var(--np-font);
}

.newspaper p {
    padding: 0;
    margin: 0;
}
